# Data Manipulation with Pandas

Pandas is the most widely used library of python for data science. It is incredibly helpful in manipulating the data so that you can derive better insights and build great machine learning models.

In this notebook, we will have a look at some of the intermediate concepts of working with pandas.


## Table of Contents

 - Apply function

### Loading dataset

***In this notebook we will use the Big Mart Sales Data. You can download the data from : https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/download/train-file***

In [42]:
import pandas as pd
import numpy as np

# read the dataset
data_BM = pd.read_csv('bigmart_data.csv')
# drop the null values
data_BM = data_BM.dropna(how="any")
# reset index after dropping
data_BM = data_BM.reset_index(drop=True)
# view the top results
data_BM.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

### Apply function

- Apply function can be used to perform pre-processing/data-manipulation on your data both row wise(axis=0) and column wise(axis=1).
- It is a faster method than simply using a **for** loop over your dataframe.
- Almost every time I need to iterate over a dataframe or it's rows/columns, I will think of using the `apply`.
- Hence, it is widely used in feature engineering code.

In [52]:
# accessing row wise
data_BM.apply(lambda x: x).iloc[:10, :] # data_BM.apply(lambda x: x, axis=0), We're putting all rows one below another

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
5,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
6,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
7,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
8,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
9,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076

In [54]:
# accessing column wise
data_BM.apply(lambda x: x, axis=1).iloc[:, :5] # data_BM.apply(lambda x: x, axis=0), We're putting columns side by side.

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type
0,FDA15,9.300,Low Fat,0.016047,Dairy
1,DRC01,5.920,Regular,0.019278,Soft Drinks
2,FDN15,17.500,Low Fat,0.016760,Meat
3,NCD19,8.930,Low Fat,0.000000,Household
4,FDP36,10.395,Regular,0.000000,Baking Goods
...,...,...,...,...,...
4645,FDF53,20.750,reg,0.083607,Frozen Foods
4646,FDF22,6.865,Low Fat,0.056783,Snack Foods
4647,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene
4648,FDN46,7.210,Regular,0.145221,Snack Foods
4649,DRG01,14.800,Low Fat,0.044878,Soft Drinks

In [60]:
# access first row
data_BM.apply(lambda x: x[0]) # data_BM.apply(lambda x: x[1], axis=0) it returns a series

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                       0.016047
Item_Type                                Dairy
Item_MRP                              249.8092
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                     3735.138
dtype: object

In [61]:
# access first, second and forth row
data_BM.apply(lambda x: x[[0, 1, 3]]) # data_BM.apply(lambda x: x[[0, 1, 3]], axis=0), it returns a dataFrame

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
3,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [15]:
# access first column by index
data_BM.apply(lambda x: x[0], axis=1) # data_BM.iloc[:,:1]

0       FDA15
1       DRC01
2       FDN15
3       NCD19
4       FDP36
        ...
4645    FDF53
4646    FDF22
4647    NCJ29
4648    FDN46
4649    DRG01
Length: 4650, dtype: object

In [62]:
# access first, second columns by index
data_BM.apply(lambda x: x[[0, 1]], axis=1)

     Item_Identifier  Item_Weight
0              FDA15        9.300
1              DRC01        5.920
2              FDN15       17.500
3              NCD19        8.930
4              FDP36       10.395
...              ...          ...
4645           FDF53       20.750
4646           FDF22        6.865
4647           NCJ29       10.600
4648           FDN46        7.210
4649           DRG01       14.800

[4650 rows x 2 columns]

In [63]:
# access by column name
data_BM.apply(lambda x: x["Item_Fat_Content"], axis=1)

0       Low Fat
1       Regular
2       Low Fat
3       Low Fat
4       Regular
         ...
4645        reg
4646    Low Fat
4647    Low Fat
4648    Regular
4649    Low Fat
Length: 4650, dtype: object

- You can also use `apply` to implement a **condition** individually on every row/column of your dataframe.
- Suppose you want to clip Item_MRP to 200 and not consider any value greater than that.
```python
def clip_price(price):
    if price > 200:
        price = 200
    return price
```

In [65]:
# before clipping
data_BM["Item_MRP"][:20]

0     249.8092
1      48.2692
2     141.6180
3      53.8614
4      51.4008
5      57.6588
6      45.5402
7     144.1102
8     145.4786
9     119.6782
10    196.4426
11     56.3614
12    115.3492
13     54.3614
14    230.5352
15    250.8724
16    196.5084
17    165.0210
18     42.3112
19     39.1164
Name: Item_MRP, dtype: float64

In [66]:
# clip price if it is greater than 200
def clip_price(price):
    if price > 200:
        price = 200
    return price

# after clipping
data_BM["Item_MRP"].apply(lambda x: clip_price(x))[:20]

0     200.0000
1      48.2692
2     141.6180
3      53.8614
4      51.4008
5      57.6588
6      45.5402
7     144.1102
8     145.4786
9     119.6782
10    196.4426
11     56.3614
12    115.3492
13     54.3614
14    200.0000
15    200.0000
16    196.5084
17    165.0210
18     42.3112
19     39.1164
Name: Item_MRP, dtype: float64

- Suppose you want to label encode Outlet_Location_Type as 0, 1 and 2 for Tier 1, Tier 2 and Tier 3 city, your logic would be:

```python
def label_encode(city):
    if city == 'Tier 1':
        label = 0
    elif city == 'Tier 2':
        label = 1
    else:
        label = 2
    return label
```
- You can use the `apply` to operate `label_encode` logic on every row of the Outlet_Location_Type column.

In [67]:
# before label encoding
data_BM["Outlet_Location_Type"][:5]

0    Tier 1
1    Tier 3
2    Tier 1
3    Tier 3
4    Tier 3
Name: Outlet_Location_Type, dtype: object

In [68]:
# label encode city type
def label_encode(city):
    if city == 'Tier 1':
        label = 0
    elif city == 'Tier 2':
        label = 1
    else:
        label = 2
    
    return label

# operate label_encode on every row of Outlet_Location_Type
data_BM["Outlet_Location_Type"] = data_BM["Outlet_Location_Type"].apply(label_encode)

In [69]:
# after label encoding
data_BM["Outlet_Location_Type"]

0       0
1       2
2       0
3       2
4       2
       ..
4645    0
4646    2
4647    1
4648    2
4649    0
Name: Outlet_Location_Type, Length: 4650, dtype: int64